src/server/rpc/stores.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Dataset">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Store">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Brand" type="xs:string"/>
                            <xs:element name="Store_name" type="xs:string"/>
                            <xs:element name="Ownership_type" type="xs:string"/>
                            <xs:element name="Address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Street" type="xs:string"/>
                                        <xs:element name="City">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="ref" type="xs:unsignedByte" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Postcode" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="Phone_number" type="xs:string"/>
                            <xs:element name="Coordinates">
                                <xs:complexType>
                                    <xs:attribute name="Longitude" type="xs:decimal" use="required"/>
                                    <xs:attribute name="Latitude" type="xs:decimal" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="number" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Cities">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="City">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Name" type="xs:string"/>
                                        <xs:element name="Country" type="xs:string"/>
                                        <xs:element name="State_Province" type="xs:string"/>
                                        <xs:element minOccurs="0" name="City_coordinates">
                                            <xs:complexType>
                                                <xs:attribute name="Longitude" type="xs:decimal"/>
                                                <xs:attribute name="Latitude" type="xs:decimal"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>